{erl_opts, [debug_info]}.
{deps, [
    {sqlite3, "1.1.13"},
    {cowboy, "2.9.0"},
    {jsone, "1.7.0"},
    {argon2, "1.0.2"},
    {jose, "1.11.2"},
    {json, {git, "https://github.com/gearnode/erl-json.git", {tag, "v1.3.0"}}}
]}.

{relx, [{release, {chitchat, "0.1.0"},
         [chitchat,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
